<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h1> WIKI SEARCH </h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
<!--
<input type="text" placeholder="search.." (keyup.enter)= search() [(ngModel)]="data">
-->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="text" matInput placeholder="type here.." (keyup.enter)= search() [(ngModel)]="data" name="searching">
  </mat-form-field>
  
</form>
<!--
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Word Count</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.title}}</td>
    <td [innerHTML]="item.snippet"></td>
    <td>{{item.wordcount}}</td>
  </tr>
</table>
-->
<div *ngIf="gotdata">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="snippet">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element" [innerHTML]="element.snippet"> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="wordcount">
    <th mat-header-cell *matHeaderCellDef> Word Count </th>
    <td mat-cell *matCellDef="let element"> {{element.wordcount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>